@import './variable.less';
@import './common.less';
@import './prose-mirror.less';

body {
  font-family: Georgia;
  margin: 0 1em 2em;
}

textarea {
  width: 100%;
  border: 1px solid @border-color;
  min-height: 100px;
  padding: 4px;
}

.left, .right {
  width: 50%;
  float: left;
}

.full {
  max-width: 50em;
}

.marked {
  background: #ff6
}
