.ProseMirror {
  min-height: 130px;
  padding: 4px 8px 4px 14px;
  line-height: 1.2;
}

.ProseMirror-menuseparator {
  margin-left: 3px;
  margin-right: 8px;
  height: 25px;
  border-right-color: rgb(196, 196, 196);
}